<div>
  <div>
    <h1>
      Add indicative conjugations!
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      How to add indicative conjugations:
    </h2>

    <p>
      Fill out the form below by selecting the verb you want to conjugate and the grammatical person of the conjugation. Then, type the conjugations and hit the button!
    </p>

    <form action="/insert_indicative" method="post">
      <div>
        <label for="query_verb_id">
          Verb
        </label>
        <select name="query_verb_id">
          <% @list_of_verbs.order(:title).each do |a_verb| %>
            <option value="<%= a_verb.id %>">
              <%= a_verb.verb_description %> 
             </option>
          <% end %>      
        </select>
      </div>

      <div>
        <label for="query_pov_id">
          Pov
        </label>
        <select name="query_pov_id">
          <% GrammaticalPerson.all.order(:title).each do |a_pov| %>
            <option value="<%= a_pov.id %>">
              <%= a_pov.pov %> 
             </option>
          <% end %>      
        </select>
      </div>

      <div>
        <label for="present_conjugation_box">
          Present conjugation
        </label>

        <input type="text" id="present_conjugation_box" name="query_present_conjugation">
      </div>

      <div>
        <label for="preterite_conjugation_box">
          Preterite conjugation
        </label>

        <input type="text" id="preterite_conjugation_box" name="query_preterite_conjugation">
      </div>

      <div>
        <label for="imperfect_conjugation_box">
          Imperfect conjugation
        </label>

        <input type="text" id="imperfect_conjugation_box" name="query_imperfect_conjugation">
      </div>

      <button>
        Create indicative
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Verb
        </th>

        <th>
          Pov
        </th>

        <th>
          Present Conjugation
        </th>

        <th>
          Preterite Conjugation
        </th>

        <th>
          Imperfect Conjugation
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_indicatives.each do |an_indicative| %>
      <tr>
        <td>
          
          <%= an_indicative.id %>
        </td>

        <td>
          <%= an_indicative.verb.verb_description %>
        </td>

        <td>
          <%= an_indicative.pov.pov %>
        </td>

        <td>
          <%= an_indicative.present_conjugation %>
        </td>

        <td>
          <%= an_indicative.preterite_conjugation %>
        </td>

        <td>
          <%= an_indicative.imperfect_conjugation %>
        </td>

        <td>
          <%= time_ago_in_words(an_indicative.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_indicative.updated_at) %> ago
        </td>

        <td>
          <a href="/indicatives/<%= an_indicative.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
