<div>
  <div>
    <h1>
      Verb #<%= @the_verb.id %> details
    </h1>

    <div>
      <div>
        <a href="/verbs">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_verb/<%= @the_verb.id %>">
          Delete verb
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Verb description
      </dt>
      <dd>
        <%= @the_verb.verb_description %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_verb.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_verb.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_verb.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit verb
    </h2>

    <form action="/modify_verb/<%= @the_verb.id %>"  method="post" >
      <div>
        <label for="verb_description_box">
          Verb description
        </label>

        <input type="text" id="verb_description_box" name="query_verb_description" value="<%= @the_verb.verb_description %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_verb.user_id %>">
      </div>

      <button>
        Update verb
      </button>
    </form>
  </div>
</div>

<hr>
