<div>
  <div>
    <h1>
      <%= @the_verb.verb_description %> details
    </h1>

    <div>
      <div>
        <a href="/verbs">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_verb/<%= @the_verb.id %>">
          Delete verb
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Verb description
      </dt>
      <dd>
        <%= @the_verb.verb_description %>
      </dd>

    

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_verb.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_verb.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit verb
    </h2>

    <form action="/modify_verb/<%= @the_verb.id %>"  method="post" >
      <div>
        <label for="verb_description_box">
          Verb description
        </label>

        <input type="text" id="verb_description_box" name="query_verb_description" value="<%= @the_verb.verb_description %>">
      </div>


      <button>
        Update verb
      </button>
    </form>
  </div>
</div>


<hr>
<h2> Indicative Conjugations </h2>
<div>
    <table border="1">
      <tr>
        <th>
        </th>
        <th>
          Present
        </th>

        <th>
          Preterite
        </th>

        <th>
          Imperfect
        </th>

        <th>
        </th>
      </tr>

      <tr>
        <td>
          Yo
        </td>

        <td>

        </td>

        <td>
        </td>

        <td>
        </td>


        <td>
          Show details?
        </td>

      </tr>

      <tr>
        <td>
          Tú 
        </td>

        <td>
        </td>

        <td>
        </td>

        <td>
        </td>

        <td>
          Show details?
        </td>
      </tr>


      <tr>
        <td>
          Ella/Ello/Usted
        </td>
        
        <td>
        </td>

        <td>
        </td>

        <td>
        </td>

        <td>
          Show details?
        </td>
      </tr>

      <tr>
        <td>
          Nosotros
        </td>
        <td>
        </td>

        <td>
        </td>

        <td>
        </td>


        <td>
          Show details?
        </td>

      </tr>

      <tr>
        <td>
          Vosotros
        </td>
        
        <td>
        </td>

        <td>
        </td>

        <td>
        </td>




        <td>
          Show details?
        </td>
      </tr>

      <tr>
        <td>
        Ellas/Ello/Ustedes
        </td>

        <td>
        </td>

        <td>
        </td>

        <td>
        </td>


        <td>
          Show details?
        </td>
      </tr>

    </table>
  </div>







<hr>
