<div>
  <div>
    <h1>
      <%= @the_verb.verb_description %> details
    </h1>

    <div>
      <div>
        <a href="/verbs">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_verb/<%= @the_verb.id %>">
          Delete verb
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Verb description
      </dt>
      <dd>
        <%= @the_verb.verb_description %>
      </dd>

    

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_verb.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_verb.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit verb
    </h2>

    <form action="/modify_verb/<%= @the_verb.id %>"  method="post">
      <div>
        <label for="verb_description_box">
          Verb description
        </label>

        <input type="text" id="verb_description_box" name="query_verb_description" value="<%= @the_verb.verb_description %>">
      </div>


      <button>
        Update verb
      </button>
    </form>
  </div>
</div>


<hr>

<h2> Indicative Conjugations </h2>

<div>
  <table border="1">
      <tr>
        <th>
        </th>

        <th>
          Present
        </th>

        <th>
          Preterite
        </th>

        <th>
          Imperfect
        </th>

        <th>
        </th>
      </tr>

      <tr>
        <% x =Indicative.where({:pov_id => 1}).where({:verb_id => @the_verb.id}).at(0) %>
        <td>
          Yo
        </td>

        <td>
          <%= x.present_conjugation %>
        </td>

        <td>
          <%= x.preterite_conjugation %>
        </td>

        <td>
          <%= x.imperfect_conjugation %>
        </td>


        <td>
          Show details?
        </td>

      </tr>

      <tr>
        <% tu =Indicative.where({:pov_id => 2}).where({:verb_id => @the_verb.id}).at(0) %>

        <td>
          Tú 
        </td>

        <td>
          <%= tu.present_conjugation %>

        </td>

        <td>
          <%= tu.preterite_conjugation %>
        </td>

        <td>
          <%= tu.imperfect_conjugation %>
        </td>

        <td>
          Show details?
        </td>
      </tr>


      <tr>

        <% she =Indicative.where({:pov_id => 3}).where({:verb_id => @the_verb.id}).at(0)%>

        <td>
          Ella/Él/Usted
        </td>

        <td>
          <%= she.present_conjugation %>
        </td>

        <td>
           <%= she.preterite_conjugation %>
        </td>

        <td>
          <%= she.imperfect_conjugation %>
        </td>

        <td>
          Show details?
        </td>
      </tr>

      <tr>
        <% we =Indicative.where({:pov_id => 4}).where({:verb_id => @the_verb.id}).at(0)%>

        <td>
          Nosotros
        </td>

        <td>
          <%= we.present_conjugation %>
        </td>

        <td>
           <%= we.preterite_conjugation %>
        </td>

        <td>
          <%= we.imperfect_conjugation %>
        </td>

        <td>
          Show details?
        </td>

      </tr>

      <tr>
          <% yall =Indicative.where({:pov_id => 5}).where({:verb_id => @the_verb.id}).at(0)%>

        <td>
          Vosotros
        </td>
        
        <td>
          <%= yall.present_conjugation %>
        </td>

        <td>
           <%= yall.preterite_conjugation %>
        </td>

        <td>
          <%= yall.imperfect_conjugation %>
        </td>

        <td>
          Show details?
        </td>
      </tr>

      <tr>

        <% they =Indicative.where({:pov_id => 6}).where({:verb_id => @the_verb.id}).at(0)%>

        <td>
        Ellas/Ello/Ustedes
        </td>

        <td>
          <%= they.present_conjugation %>
        </td>

        <td>
           <%= they.preterite_conjugation %>
        </td>

        <td>
          <%= they.imperfect_conjugation %>
        </td>>


        <td>
          Show details?
        </td>
      </tr>
  </table>
</div>







<hr>
